body{
    background-color:lightgrey;
    font-family: Arial,sans-serif;
}

header h1{
    color: black;
    font-size: 48px;
    text-align: center;
}
header h2{
    text-align: center;
}
hr{
   height: 4px;
   background-color: black; 
}
nav a {
  text-decoration: none;   /* removes underline */
  color: black;            /* changes color */
  margin: 0 15px;          /* space between links */
  font-weight: bold;
  text-align: right;
}
